.profile-container {
  // width: 80%;
  // margin: auto;
  // padding: 20px;
  max-height: 100vh;
  overflow-y: auto;
}

.profile-content {
  display: flex;
  justify-content: space-between;
}

.profile-picture {
  flex: 1;
  text-align: center;
  margin-right: 20px;
}

.profile-picture img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.profile-details {
  flex: 2;
}

.app-full-width {
  width: 100%;
  margin-bottom: 10px;
}


